@* @@model IList<Nop.Plugin.Widgets.Tickets.Models.MessageModel> *@

@using Nop.Plugin.Widgets.Tickets.Models;


@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Ticket.Message").Text;    
    
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        @T("Admin.Ticket.Message")
    </div>
</div>


<div id="templates-grid"></div>

<script>
    $(document).ready(function () {
        $("#templates-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("MessageList", "TicketMessage", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.Tickets.Controllers" }, { "area", "" } }))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("Admin.ContentManagement.MessageTemplates.Fields.Name")"
            }, {
                field: "Subject",
                title: "@T("Admin.ContentManagement.MessageTemplates.Fields.Subject")"
            }, {
                field: "IsActive",
                title: "@T("Admin.ContentManagement.MessageTemplates.Fields.IsActive")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsActive#.gif" />'
            }, {
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 100,
                template: '<a href="@Url.Content("~/Admin/MessageTemplate/Edit/")#= Id #">Edit</a>',
                        }]
                    });
                });
</script>
