@model CustomerNavigationModel           
@using Nop.Web.Models.Customer;
@using Nop.Web.Framework;

<div class="block block-account-navigation">
    <div class="title">
        <strong>@T("Account.Navigation")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @Html.Widget("account_navigation_before") 
            @if (!Model.HideInfo)
            {
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="inactive">@T("Account.CustomerInfo")</a></li>
            }
            @if (!Model.HideAddresses)
            {
                <li><a href="@Url.RouteUrl("CustomerAddresses")" class="inactive">@T("Account.CustomerAddresses")</a></li>
            }
            @if (!Model.HideOrders)
            { 
                <li><a href="@Url.RouteUrl("CustomerOrders")" class="inactive">@T("Account.CustomerOrders")</a></li>
            }
            @if (!Model.HideReturnRequests)
            { 
                <li><a href="@Url.RouteUrl("CustomerReturnRequests")" class="inactive">@T("Account.CustomerReturnRequests")</a></li>
            }
            @if (!Model.HideDownloadableProducts)
            { 
                <li><a href="@Url.RouteUrl("CustomerDownloadableProducts")" class="inactive">@T("Account.DownloadableProducts")</a></li>
            }
            @if (!Model.HideBackInStockSubscriptions)
            { 
                <li><a href="@Url.RouteUrl("CustomerBackInStockSubscriptions")" class="inactive">@T("Account.BackInStockSubscriptions")</a></li>
            }
            @if (!Model.HideRewardPoints)
            { 
                <li><a href="@Url.RouteUrl("CustomerRewardPoints")" class="inactive">@T("Account.RewardPoints")</a></li>
            }
            @if (!Model.HideChangePassword)
            { 
                <li><a href="@Url.RouteUrl("CustomerChangePassword")" class="inactive">@T("Account.ChangePassword")</a></li>
            }
            @if (!Model.HideAvatar)
            { 
                <li><a href="@Url.RouteUrl("CustomerAvatar")" class="inactive">@T("Account.Avatar")</a></li> 
            }
            @if (!Model.HideForumSubscriptions)
            { 
                <li><a href="@Url.RouteUrl("CustomerForumSubscriptions")" class="inactive">@T("Account.ForumSubscriptions")</a></li>
            }
            @Html.Widget("account_navigation_after")
        </ul>
    </div>
</div>
