@model Nop.Plugin.Widgets.Tickets.Models.ContactFormModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@{
    Html.AppendCssFileParts("~/Plugins/Widgets.Tickets/Content/styles.css");
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
}
<script type="text/javascript">

    $(document).ready(function () {
        $('.linkCreate').magnificPopup({
            type: 'inline',
            preloader: false,
        });

        $('#sendticket').on("click", function () {

            if ($('#ticketOrderForm').valid()) {

                $.ajax({
                    data: $('#ticketOrderForm').serialize(),
                    url: '@Url.RouteUrl("Nop.Plugin.Widgets.Tickets.OrderForm")',
                    type: 'post',
                    success: function (data) {
                        if (data.success) {
                            $('.createnewticket').html('');
                            $('.errorresultnewticket').hide();
                            $('.resultnewticket').show();
                            $('.resultnewticket').html(data.message);
                        }
                        else {
                            $('.errorresultnewticket').show();
                            $('.errorresultnewticket').html(data.message);
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }
            return false;

        });

    });

</script>


<a class="linkCreate" href="#open-Modal">@T("Ticket.CreateOrderTicket").Text</a>

<div id="open-Modal" class="white-popup-block mfp-hide">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ticketOrderForm" }))
    {
        @Html.ValidationSummary(true);
        @Html.HiddenFor(model => model.OrderId)
        <div class="open-Modal-header" style="padding: 20px 30px 15px 20px;">
            <h3>@T("Ticket.Header.CreateOrderTicket").Text</h3>
        </div>
        
        <div class="resultnewticket">
        </div>

        <div class="errorresultnewticket">
        </div>
        
        <div class="createnewticket">
            <table id="tickettable" cellspacing="0">
                <tr>
                    <td class="head">
                        @Html.LabelFor(model => model.DepartmentId)
                    </td>
                    <td class="spec">
                        @Html.DropDownListFor(model => model.DepartmentId, Model.AvailableDepartments)
                    </td>
                </tr>
                @if (Model.CanSelectPriority)
                {
                    <tr>
                        <td class="head">
                            @Html.LabelFor(model => model.PriorityId)
                        </td>
                        <td class="spec">
                            @Html.DropDownListFor(model => model.PriorityId, Model.AvailablePriority)
                        </td>
                    </tr>
                }
                <tr>
                    <td class="head">
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td class="head">
                        @Html.TextBoxFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>

                <tr>
                    <td class="head">
                        @Html.LabelFor(model => model.FullName)
                    </td>
                    <td class="head">
                        @Html.TextBoxFor(model => model.FullName, new { placeholder = T("Ticket.ContactForm.FullName.Hint") })
                        @Html.ValidationMessageFor(model => model.FullName)
                    </td>
                </tr>
                <tr>
                    <td class="head">
                        @Html.LabelFor(model => model.Subject)
                    </td>
                    <td class="spec">
                        @Html.TextBoxFor(model => model.Subject, new { @style = "width:280px;", placeholder = T("Ticket.ContactForm.Subject.Hint") })
                        @Html.ValidationMessageFor(model => model.Subject)
                    </td>
                </tr>
                <tr>
                    <td class="head">
                        @Html.LabelFor(model => model.Enquiry)
                    </td>
                    <td class="spec">
                        @Html.TextAreaFor(model => model.Enquiry, new { @style = "width:280px; height:100px;", placeholder = T("Ticket.ContactForm.Enquiry.Hint") })
                        @Html.ValidationMessageFor(model => model.Enquiry)
                    </td>
                </tr>
                <tr>
                    <td class="head" colspan="2" style="text-align: center;">
                        <input type="button" id="sendticket" value="@T("Ticket.SendButton")" class="button-addline" />
                    </td>
                </tr>
            </table>
        </div>

    }
</div>
