@model Nop.Plugin.Widgets.Tickets.Models.TicketCustomerModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AppendCssFileParts("~/Plugins/Widgets.Tickets/Content/styles.css");

    //title
    //Html.AddTitleParts(T("PageTitle.Account").Text);
    //Session["MyticketList"] = "Active";
    int i = 0;
}

@section left
{
    @Html.Partial("~/Plugins/Widgets.Tickets/Views/Public/MyAccountNavigation.cshtml", Model.NavigationModel, new ViewDataDictionary())
}


<div class="page account-page customer-info-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Ticket.Account.TicketsList")</h1>
    </div>
    <div class="page-body">

        <table id="tickettable" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">@T("Ticket.Fields.Created").Text</th>
                    <th scope="col">@T("Ticket.Fields.TicketStatus").Text</th>
                    <th scope="col">@T("Ticket.Fields.Subject").Text</th>
                    <th scope="col">@T("Ticket.Fields.Deparment").Text</th>
                    <th scope="col">@T("Ticket.View").Text</th>
                </tr>
            </thead>
            @foreach(var item in Model.Tickets)
            {
                var thclassCol = (i % 2 > 0) ? "spec" : "specalt";
                var tdclassCol = (i % 2 > 0) ? "" : "alt";
                
                <tr>
                    <th scope="row" class="@(thclassCol)" >@item.Created</th>
                    <td class="@(tdclassCol)">@item.TicketStatus</td>
                    <td class="@(tdclassCol)">@item.Subject</td>
                    <td class="@(tdclassCol)">@item.Deparment </td>
                    <td class="@(tdclassCol)"> @Html.RouteLink(T("Ticket.View").Text, "Nop.Plugin.Widgets.Tickets.TicketCustomer", new { Id = item.Id })</td>
                </tr>
                i = i + 1;
            }
        </table>
</div>
</div>
