@using ima9ines.Nop.Plugin.Widgets.ProductVendorDetails.Models
@model ExtendedVendorModel
@{
    string vendorEmail = Model.Email;
    bool showVendorEmail = !string.IsNullOrEmpty(vendorEmail);

    string vendorDescription = Model.Description;
    bool showVendorDescription = !string.IsNullOrEmpty(vendorDescription);
}
<style type="text/css">
    /* Hide default vendor block */
    .product-details-page .product-essential .overview .product-vendor {
        display: none;
    }
</style>
<div class="block ima9ines-product-vendor">
    <div class="title">
        @T("Plugins.Widgets.ProductVendorDetails.Heading")
    </div>
    <div class="listbox">
        <div>
            <span class="label">@T("Plugins.Widgets.ProductVendorDetails.VendorName"): </span>
            <span class="value">
                <a href="@Url.RouteUrl("Vendor", new { SeName = Model.SeName })">@Model.Name</a>
            </span>
        </div>
        @if (showVendorEmail)
        {
            <div>
                <span class="label">@T("Plugins.Widgets.ProductVendorDetails.VendorEmail"): </span>
                <span class="value">
                    <a href="mailto:@vendorEmail">@vendorEmail</a>
                </span>
            </div>
        }
        @if (showVendorDescription)
        {
            <div class="product-vendor-description">
                @Html.Raw(vendorDescription)
            </div>
        }
    </div>
</div>