@model ForumGroupModel
@using Nop.Web.Models.Boards;
<div class="forums-table-section forum-group">
    <h3 class="">
        @Html.RouteLink(Model.Name, "ForumGroupSlug", new { id = Model.Id, slug = Model.SeName })
    </h3>
    <div class="forums-table-section-body">
        <div class="table-wrapper">
            <table class="table table-bordered table-responsive">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr class="active">
                        <th colspan="2">
                            @T("Forum.Forum") 
                        </th>
                        <th>
                            <span class="hidden-xs">@T("Forum.Topics")</span>
                            <i class="visible-xs fa fa-comment tooltipOn" data-toggle="tooltip" title="@T("Forum.Topics")"></i>
                        </th>
                        <th>
                            <span class="hidden-xs">@T("Forum.Posts")</span>
                            <i class="visible-xs fa fa-comments tooltipOn" data-toggle="tooltip" title="@T("Forum.Posts")"></i>
                        </th>
                        <th>
                            @T("Forum.LatestPost")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forum in Model.Forums)
                    {
                        <tr>
                            <td class="image">
                                <div class="post"></div>
                            </td>
                            <td class="forum-details">
                                <div class="marginBottom10">
                                    @Html.RouteLink(forum.Name, "ForumSlug", new { id = forum.Id, slug = forum.SeName })
                                </div>
                                <div class="forum-description">
                                    @forum.Description
                                </div>
                            </td>
                            <td class="topics">@forum.NumTopics</td>
                            <td class="posts">@forum.NumPosts</td>
                            <td class="small">
                                @Html.Action("LastPost", new { forumPostId = forum.LastPostId, showTopic = true })
                            </td>
                        </tr>            
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
