@model ForumPostModel
@using Nop.Web.Models.Boards;
@Html.Raw(String.Format("<a name=\"{0}\"></a>", Model.Id))
<div class="topic-post" id="@Html.Encode(String.Format("post{0}", Model.Id))">
    <div class="row marginTopBottom10 borderAll">
        <div class="col-xs-12 col-sm-2 borderRight">
            <div class="row">
                <div class="col-xs-3 col-sm-12 padding10">
                    <div class="marginBottom10">
                        @if (!String.IsNullOrEmpty(Model.CustomerAvatarUrl))
                        {
                            <div class="marginTop10">
                                @if (Model.CustomerId > 0 && Model.AllowViewingProfiles && !Model.IsCustomerGuest)
                                {
                                    <a href="@Url.RouteUrl("CustomerProfile", new { id = Model.CustomerId })" class="avatar-img-link">
                                        <img src="@(Model.CustomerAvatarUrl)" class="img-responsive img-rounded" alt="Avatar" />
                                    </a>
                                }
                                else
                                {
                                    <img src="@(Model.CustomerAvatarUrl)" class="img-responsive img-rounded" alt="Avatar" />
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xs-6 col-sm-12 padding10">
                    <strong>
                        @if (Model.CustomerId > 0)
                        {
                            if (Model.AllowViewingProfiles && !Model.IsCustomerGuest)
                            {
                                @Html.RouteLink(Model.CustomerName, "CustomerProfile", new { id = Model.CustomerId }, new {})
                            }
                            else
                            {
                                <span class="username">@Model.CustomerName</span>
                            }
                        }
                    </strong>
                    <div class="row">
                        <div class="col-xs-10 col-sm-12">
                            <ul class="list-unstyled small marginTop10">
                                @if (Model.IsCustomerForumModerator)
                                {
                                    <li>
                                        <label>@T("Forum.Status"):</label>
                                        <span>@T("Forum.Moderator")</span>
                                    </li>
                                }
                                @if (Model.ShowCustomersPostCount)
                                {
                                    <li>
                                        <label>@T("Forum.TotalPosts"):</label>
                                        <span>@Model.ForumPostCount</span>
                                    </li>
                                }
                                @if (Model.ShowCustomersJoinDate && !Model.IsCustomerGuest)
                                {
                                    <li>
                                        <label>@T("Forum.Joined"):</label>
                                        <span>@Model.CustomerJoinDate.ToString("d")</span>
                                    </li>
                                }
                                @if (Model.ShowCustomersLocation && !Model.IsCustomerGuest & !String.IsNullOrEmpty(Model.CustomerLocation))
                                {
                                    <li>
                                        <label>@T("Forum.Location"):</label>
                                        <span>@Model.CustomerLocation</span>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-12">
                            @if (Model.AllowPrivateMessages && !Model.IsCustomerGuest)
                            {
                                <div>
                                    @Html.RouteLink(T("Forum.PrivateMessages.PM").Text, "SendPM", new { toCustomerId = Model.CustomerId }, new { @class = "btn btn-default" })
                                </div>
                            }
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="row bgGray">
                <div class="col-xs-5 col-sm-5 padding10">
                    <label class="hidden-xs">@T("Forum.Posted"):</label>
                    <i>@Model.PostCreatedOnStr</i>
                </div>
                <div class="col-xs-5 col-sm-6 padding10 text-center">
                            @if (Model.IsCurrentCustomerAllowedToEditPost)
                            {
                                <a class="text-muted text-muted tooltipOn marginRight10" href="@Url.RouteUrl("PostEdit", new { id = Model.Id })" data-toggle="tooltip" title="@T("Forum.EditPost")">
                                    <i class="glyphicon glyphicon-pencil"></i> <span class="hidden-xs">@T("Forum.EditPost")</span>
                                </a>
                            }
                            @if (Model.IsCurrentCustomerAllowedToDeletePost)
                            {
                                <a class="text-muted tooltipOn marginRight10" href="@Url.RouteUrl("PostDelete", new { id = Model.Id })" data-toggle="tooltip" title="@T("Forum.DeletePost")" onclick="@(String.Format(" return confirm('{0}');", T("common.areyousure").Text))">
                                    <i class="glyphicon glyphicon-trash text-danger"></i> <span class="hidden-xs">@T("Forum.DeletePost")</span>
                                </a>
                            }
                            <a class="text-muted tooltipOn marginRight10" href="@Url.RouteUrl("PostCreateQuote", new { id = Model.ForumTopicId, quote = Model.Id })" data-toggle="tooltip" title="@T("Forum.QuotePost")">
                                <i class="fa fa-quote-left"></i> <span class="hidden-xs">@T("Forum.QuotePost")</span> 
                            </a>            
                </div>
                <div class="col-xs-2 col-sm-1 pull-right padding10 text-right">
                    @if (Model.CurrentTopicPage > 1)
                    {
                        @Html.RouteLink(String.Format("#{0}", Model.Id.ToString()), "TopicSlugPaged", "http", string.Empty, Model.Id.ToString(), new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName, page = Model.CurrentTopicPage }, new { @class = "post-link-button", title = T("Forum.PostLinkTitle") })
                    }
                    else
                    {
                        @Html.RouteLink(String.Format("#{0}", Model.Id.ToString()), "TopicSlug", "http", string.Empty, Model.Id.ToString(), new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName }, new { @class = "post-link-button", title = T("Forum.PostLinkTitle") })
                    }
                </div>
            </div>
            <div class="borderBottom padding10 minHeight150">
                @Html.Raw(Model.FormattedText)
                @Html.Hidden("Id", Model.Id)
            </div>
            @if (Model.SignaturesEnabled & !String.IsNullOrEmpty(Model.FormattedSignature))
            {
                <div class="padding10 small">
                    @Html.Raw(Model.FormattedSignature)
                </div>
            }
        </div>
    </div>
</div>
