@model ForumPageModel
@using Nop.Core.Domain.Forums;
@using Nop.Web.Models.Boards;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(Model.Name);
}

    @Html.Action("ForumBreadcrumb", new { forumId = Model.Id })
    @Html.Partial("_ForumHeader")
    <div class="forum-info">
        <div class="page-header">
            @if (Model.ForumFeedsEnabled)
            {
                <a href="@Url.RouteUrl("ForumRSS", new { id = Model.Id })" class="pull-right tooltipOn" title="@T("Forum.ForumRSSLinkTitle")">
                    <i class="fa fa-rss-square fa-2x colorRss"></i>
                </a>
            }
            <h3>@Model.Name</h3>
        </div>
        <p>@Model.Description</p>

    </div>
    <div class="marginTopBottom20 text-center">
        <a class="btn btn-default tooltipOn" href="@Url.RouteUrl("TopicCreate", new { id = Model.Id })" data-toggle="tooltip" title="@T("Forum.NewTopic")">
            <i class="glyphicon glyphicon-plus"></i> <span class="hidden-xs">@T("Forum.NewTopic")</span>
        </a>
        @if (Model.IsCustomerAllowedToSubscribe)
            {
            <a class="btn btn-default tooltipOn" href="#" id="watch-forum" data-toggle="tooltip" title="@Model.WatchForumText">
                <i class="glyphicon glyphicon-eye-open"></i> <span class="hidden-xs">@Model.WatchForumText</span>
            </a>
            <script type="text/javascript">
                $(function () {
                    $('#watch-forum').click(function () {
                        $.ajax({
                            cache: false,
                            type: 'POST',
                            url: '@Url.RouteUrl("ForumWatch", new { id = Model.Id })',
                            dataType: 'json',
                            success: function (data) {
                                $('#watch-forum').text(data.Text);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Failed to watch');
                            }
                        });
                    });
                });
            </script>
        }
    </div>
    @{
        var pager = Html.Pager(new PagerModel
        {
            PageSize = Model.TopicPageSize,
            TotalRecords = Model.TopicTotalRecords,
            PageIndex = Model.TopicPageIndex,
            ShowTotalSummary = false,
            RouteActionName = "ForumSlugPaged",
            UseRouteLinks = true,
            RouteValues = new RouteValues { id = Model.Id, slug = Model.SeName }
        });
    }
    @if (!MvcHtmlString.IsNullOrEmpty(pager))
    {
        <div class="pager pagerForum">
            @pager
        </div>
    }
    <div class="forums-table-section topic-group">
        @if (Model.ForumTopics.Count > 0)
        {
            <table class="table table-bordered table-responsive">
                <colgroup>
                    <col width="70" />
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr class="active">
                        <th class="topic-details" colspan="2">
                            @T("Forum.TopicTitle")
                        </th>
                        <th class="replies">
                            <span class="hidden-xs">@T("Forum.Replies")</span>
                            <i class="visible-xs fa fa-reply-all tooltipOn" data-toggle="tooltip" title="@T("Forum.Replies")"></i>
                        </th>
                        <th class="views">
                            <span class="hidden-xs">@T("Forum.Views")</span>
                            <i class="visible-xs fa fa-eye tooltipOn" data-toggle="tooltip" title="@T("Forum.Views")"></i>
                        </th>
                        <th class="latest-post">
                            @T("Forum.LatestPost")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in @Model.ForumTopics)
                    {
                        var topicType = "post";
                        var topicText = String.Empty;
                        switch (topic.ForumTopicType)
                        {
                            case ForumTopicType.Normal:
                                topicType = "post";
                                break;
                            case ForumTopicType.Sticky:
                                topicType = "sticky";
                                topicText = string.Format("[{0}]", T("Forum.Sticky"));
                                break;
                            case ForumTopicType.Announcement:
                                topicType = "announcement";
                                topicText = string.Format("[{0}]", T("Forum.Announcement"));
                                break;
                            default:
                                topicType = "post";
                                break;
                        }
                        <tr>
                            <td class="image">
                                <div class="@topicType"></div>
                            </td>
                            <td class="topic-details">
                                <div class="marginBottom10">
                                    @Html.RouteLink(topic.Subject, "TopicSlug", new { id = topic.Id, slug = topic.SeName })
                                    @if (!String.IsNullOrEmpty(topicText))
                                    {
                                        <span class="topic-type">@topicText</span>
                                    }
                                </div>
                                @if (topic.NumPosts > Model.PostsPageSize)
                                {
                                    <div class="small">
                                        @Html.ForumTopicSmallPager(topic)
                                    </div>
                                }
                                <div class="small">
                                    @if (topic.CustomerId > 0)
                                    {
                                        <label>@T("Forum.Author"):</label>
                                        if (topic.AllowViewingProfiles && !topic.IsCustomerGuest)
                                        {
                                            @Html.RouteLink(topic.CustomerName, "CustomerProfile", new { Id = topic.CustomerId })
                                        }
                                        else
                                        {
                                            @topic.CustomerName
                                        }
                                    }
                                </div>
                            </td>
                            <td class="replies">
                                @topic.NumReplies
                            </td>
                            <td class="views">
                                @topic.Views
                            </td>
                            <td class="small">
                                @Html.Action("LastPost", new { forumPostId = topic.LastPostId, showTopic = false })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    @if (!MvcHtmlString.IsNullOrEmpty(pager))
    {
        <div class="pager pagerForum">
            @pager
        </div>
    }

