@model TopicMoveModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.Id })

    <div class="page-header page-header-custom">
        <h3 class="text-center">@T("Forum.MoveTopic")</h3>
    </div>
    <div class="page-body minHeight250">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-6">@T("Forum.SelectTheForumToMoveTopic"):</label>
                            <div class="col-sm-6">
                                @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="text-center marginTop20">
                        <input type="submit" value="@T("Forum.Submit")" class="btn btn-primary" />
                        <input type="button" class="btn btn-default" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })')" />
                    </div>
                </div>
            </div>
        }
    </div>

