@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.gif";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}
@Html.Widget("header")
<nav class="navbar navbar-fixed-top navbar-default"> @*--class --> bgDarkBlue, role="banner" style=""*@
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-header">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand colorWhite" href="@Url.RouteUrl("HomePage")">@*class="navbar-brand colorWhite"*@
                @*<img title="" alt="@storeName" src="@Url.Content(logoPath)" height="100">*@
                @storeName
            </a>
        </div>
        @Html.Action("HeaderLinks", "Common")
    </div>
</nav>

