@** Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Core.Infrastructure
@using SevenSpikes.Nop.Framework.MVCExtensions

@model SevenSpikes.Nop.Plugins.MegaMenu.Models.MegaMenuManufacturersModels

@if (Model.ManufacturersModels.Count > 0)
{
    var megaMenuSettings = EngineContext.Current.Resolve<SevenSpikes.Nop.Plugins.MegaMenu.Domain.MegaMenuSettings>();
    <li>
        <a href="@Url.RouteUrl("ManufacturerList")" title="@Html.GetResourceForCurrentStore("SevenSpikes.MegaMenu.Admin.Settings.ManufacturersItemNameValue")">@Html.GetResourceForCurrentStore("SevenSpikes.MegaMenu.Admin.Settings.ManufacturersItemNameValue")</a>
        <div class="dropdown manufacturers">
            <div class="row">
                <div class="box">
                    <div class="title">
                        <strong>@Html.GetResourceForCurrentStore("SevenSpikes.MegaMenu.Admin.Settings.ManufacturerTitleInManufacturerItemValue")</strong>
                    </div>
                    <ul>
                        @{
    foreach (var manufacturer in Model.ManufacturersModels)
    {
                                <li>
                                    <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })" title="@manufacturer.Name">@manufacturer.Name</a>
                                </li>   
    }
    if (Model.ManufacturersModels.Count == megaMenuSettings.NumberOfManufacturers)
    {
                                <li>
                                    <a class="view-all" href="@Url.RouteUrl("ManufacturerList")" title="@T("SevenSpikes.MegaMenu.ViewAllManufacturers")">@T("SevenSpikes.MegaMenu.ViewAllManufacturers")</a>
                                </li>
    }
                        }
                    </ul>
                </div><!--box-->
            </div><!--row-->
        </div><!--dropdown-->
    </li>
}
