@model NewsItemListModel
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
}

<div class="page-header page-header-custom">
    <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="pull-right tooltipOn" title="@T("News.RSS.Hint")">
        <i class="fa fa-rss-square fa-2x colorRss"></i>
    </a>
    <h3>@T("News")</h3>
</div>
@Html.Widget("newslist_page_before_items")
@foreach (var item in Model.NewsItems)
{
    <div class="row">
        <div class="col-md-12">
            <h4><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h4>
            <small class="text-muted"><i>@item.CreatedOn.ToString("D")</i></small>
            <div class="marginTop10">
                @Html.Raw(item.Short)
            </div>
            <div class="pull-right">
                <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="btn btn-primary">@T("News.MoreInfo")</a>
            </div>
            @Html.Widget("newslist_page_inside_item", item.Id)
        </div>
    </div>
}
@{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
}
@if (!pager.IsEmpty())
{
    <div class="pager">
        @pager
    </div>
}
@Html.Widget("newslist_page_after_items")

