@{
    var defaultGridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Plugins.Dreamy.Submissions").Text;
    Layout = "_AdminLayout.cshtml";
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        @T("Plugins.Dreamy.Submissions")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="formSubmissions-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#formSubmissions-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("SubmissionsList", "Forms", new { Area = "admin" }))",
                                    type: "POST",
                                    dataType: "json"
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        scrollable: false,
                        columns: [{
                            field: "FormName",
                            title: "@T("Plugins.Dreamy.Forms.Fields.FormName")"
                        }, {
                            field: "SubmitDate",
                            title: "@T("Plugins.Dreamy.Submissions.SubmitDate")",
                            type: "date",
                            format:"{0:MM-dd-yyyy}" 
                        }, {
                            field: "CustomerName",
                            title: "@T("Plugins.Dreamy.Submissions.CustomerName")",
                            width: 100
                        }, {
                            field: "SubmissionId",
                            title: "@T("Admin.Common.preview")",
                            width: 100,
                            template: '<a href="SubmissionPreview/#=SubmissionId#">@T("Admin.Common.preview")</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>
