@model ProfileIndexModel
@using Nop.Web.Models.Profile;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("PageTitle.Profile").Text);
}
    <div class="page-header page-header-custom">
        <h3 class="text-center" >@Model.ProfileTitle</h3>
    </div>
    <div class="page-body">
        @{
            var selectPostsTab = Model.ForumsEnabled && Model.PagingPosts ? ".tabs( 'option', 'active', 1 )" : "";
        }
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#info" data-toggle="tab">@T("Profile.PersonalInfo")</a></li>
            @if (Model.ForumsEnabled)
            {
                <li role="presentation"><a href="#forum" data-toggle="tab">@T("Profile.LatestPosts")</a></li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="info">
                @Html.Action("info", new { customerProfileId = Model.CustomerProfileId })
            </div>
            @if (Model.ForumsEnabled)
            {
                <div class="tab-pane" id="forum">
                    @Html.Action("posts", new { customerProfileId = Model.CustomerProfileId, page = Model.PostsPage })
                </div>
            }
        </div>
    </div>

