<style>
    .adminTablen4 tr {
        height: 45px;
    }
</style>
@{
    Layout = "";
}
@model Nop.Plugin.Widgets.QuickMenu.Models.QuickMenuModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{


    <div id="menusettings-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Plugins.Widgets.QuickMenu.General")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Plugins.Widgets.QuickMenu.Product")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Plugins.Widgets.QuickMenu.Topic")
            </li>
            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                @T("Plugins.Widgets.QuickMenu.Other")
            </li>

        </ul>
        <div>
            @TabGeneral()
        </div>
        <div>
            @TabProduct()
        </div>
        <div>
            @TabTopic()
        </div>
        <div>
            @TabOther()
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#menusettings-edit").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>

    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">



    <script type="text/javascript">
        $(document).ready(function () {

            toggleHomePageLink();
            toggleCategories();
            toggleCategoriesPicture();
            toggleManufacturers();
            toggleManufacturersPicture();
            toggleNewProducts();
            toggleMyAccount();
            toggleBlog();
            toggleForum();
            toggleTopic1();
            toggleTopic2();
            toggleTopic3();
            toggleContactUsLink();
            toggleSearchLink();

            $("#@Html.FieldIdFor(model => model.HomePageLink)").change(toggleHomePageLink);
            $("#@Html.FieldIdFor(model => model.Categories)").change(toggleCategories);
            $("#@Html.FieldIdFor(model => model.Categories_withPicture)").change(toggleCategoriesPicture);
            $("#@Html.FieldIdFor(model => model.Manufacturers)").change(toggleManufacturers);
            $("#@Html.FieldIdFor(model => model.Manufacturers_withPicture)").change(toggleManufacturersPicture);
            $("#@Html.FieldIdFor(model => model.NewProductsLink)").change(toggleNewProducts);
            $("#@Html.FieldIdFor(model => model.MyAccountLink)").change(toggleMyAccount);
            $("#@Html.FieldIdFor(model => model.BlogLink)").change(toggleBlog);
            $("#@Html.FieldIdFor(model => model.ForumLink)").change(toggleForum);
            $("#@Html.FieldIdFor(model => model.TopicLink1)").change(toggleTopic1);
            $("#@Html.FieldIdFor(model => model.TopicLink2)").change(toggleTopic2);
            $("#@Html.FieldIdFor(model => model.TopicLink3)").change(toggleTopic3);
            $("#@Html.FieldIdFor(model => model.ContactUsLink)").change(toggleContactUsLink);
            $("#@Html.FieldIdFor(model => model.SearchLink)").change(toggleSearchLink);

            function toggleHomePageLink() {
                if ($('#@Html.FieldIdFor(model => model.HomePageLink)').is(':checked')) {
                    $('#pnlHomePageLink').show();
                } else {
                    $('#pnlHomePageLink').hide();
                }
            }
            function toggleContactUsLink() {
                if ($('#@Html.FieldIdFor(model => model.ContactUsLink)').is(':checked')) {
                    $('#pnlContactUsLink').show();
                } else {
                    $('#pnlContactUsLink').hide();
                }
            }

            function toggleSearchLink() {
                if ($('#@Html.FieldIdFor(model => model.SearchLink)').is(':checked')) {
                    $('#pnlSearchLink').show();
                } else {
                    $('#pnlSearchLink').hide();
                }
            }

            function toggleCategories() {
                if ($('#@Html.FieldIdFor(model => model.Categories)').is(':checked')) {
                    $('#pnlCategories').show();
                    $('#pnlCategoriesWide').show();
                    $('#pnlCategoriesPicture').show();
                    toggleCategoriesPicture();
                } else {
                    $('#pnlCategories').hide();
                    $('#pnlCategoriesWide').hide();
                    $('#pnlCategoriesPicture').hide();
                    $('#pnlCategoriesPictureSize').hide();
                }
            }

            function toggleCategoriesPicture() {
                if ($('#@Html.FieldIdFor(model => model.Categories_withPicture)').is(':checked')) {
                    $('#pnlCategoriesPictureSize').show();
                } else {
                    $('#pnlCategoriesPictureSize').hide();
                }
            }

            function toggleManufacturers() {
                if ($('#@Html.FieldIdFor(model => model.Manufacturers)').is(':checked')) {
                    $('#pnlManufacturers').show();
                    $('#pnlManufacturersPicture').show();
                    toggleManufacturersPicture();
                } else {
                    $('#pnlManufacturers').hide();
                    $('#pnlManufacturersPicture').hide();
                    $('#pnlManufacturersPictureSize').hide();
                }
            }
            function toggleManufacturersPicture() {
                if ($('#@Html.FieldIdFor(model => model.Manufacturers_withPicture)').is(':checked')) {
                    $('#pnlManufacturersPictureSize').show();
                } else {
                    $('#pnlManufacturersPictureSize').hide();
                }
            }

            function toggleNewProducts() {
                if ($('#@Html.FieldIdFor(model => model.NewProductsLink)').is(':checked')) {
                    $('#pnlNewProducts').show();
                } else {
                    $('#pnlNewProducts').hide();
                }
            }

            function toggleMyAccount() {
                if ($('#@Html.FieldIdFor(model => model.MyAccountLink)').is(':checked')) {
                    $('#pnlMyAccount').show();
                } else {
                    $('#pnlMyAccount').hide();
                }
            }

            function toggleBlog() {
                if ($('#@Html.FieldIdFor(model => model.BlogLink)').is(':checked')) {
                    $('#pnlBlogLink').show();
                } else {
                    $('#pnlBlogLink').hide();
                }
            }
            function toggleForum() {
                if ($('#@Html.FieldIdFor(model => model.ForumLink)').is(':checked')) {
                    $('#pnlForumLink').show();
                } else {
                    $('#pnlForumLink').hide();
                }
            }


            function toggleTopic1() {
                if ($('#@Html.FieldIdFor(model => model.TopicLink1)').is(':checked')) {
                    $('#pnlTopicLink1SystemName').show();
                    $('#pnlTopicLink1OrderId').show();
                    $('#pnlTopicLink1ContentLink').show();
                } else {
                    $('#pnlTopicLink1SystemName').hide();
                    $('#pnlTopicLink1OrderId').hide();
                    $('#pnlTopicLink1ContentLink').hide();
                }
            }
            function toggleTopic2() {
                if ($('#@Html.FieldIdFor(model => model.TopicLink2)').is(':checked')) {
                    $('#pnlTopicLink2SystemName').show();
                    $('#pnlTopicLink2OrderId').show();
                    $('#pnlTopicLink2ContentLink').show();
                } else {
                    $('#pnlTopicLink2SystemName').hide();
                    $('#pnlTopicLink2OrderId').hide();
                    $('#pnlTopicLink2ContentLink').hide();
                }
            }
            function toggleTopic3() {
                if ($('#@Html.FieldIdFor(model => model.TopicLink3)').is(':checked')) {
                    $('#pnlTopicLink3SystemName').show();
                    $('#pnlTopicLink3OrderId').show();
                    $('#pnlTopicLink3ContentLink').show();
                } else {
                    $('#pnlTopicLink3SystemName').hide();
                    $('#pnlTopicLink3OrderId').hide();
                    $('#pnlTopicLink3ContentLink').hide();
                }
            }


        });
    </script>

    @Html.AntiForgeryToken()



    @helper TabGeneral()
    {
        <table class="adminTablen4">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Enabled):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Enabled)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.Enabled.hint")</em>

                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.EnabledClick):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.EnabledClick)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.EnabledClick.hint")</em>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.MenuColor):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.MenuColor, Model.MenuColors)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.MenuColor.hint")</em>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.OverrideColor):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.OverrideColor)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.StandardMobileView):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.StandardMobileView)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.HomePageLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HomePageLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.HomePageLink.hint")</em>
                </td>
            </tr>

            <tr id="pnlHomePageLink">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.HomePageLink_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.HomePageLink_OrderId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.MyAccountLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.MyAccountLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.MyAccountLink.hint")</em>
                </td>
            </tr>
            <tr id="pnlMyAccount">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.MyAccount_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.MyAccount_OrderId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.BlogLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.BlogLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.BlogLink.hint")</em>
                </td>
            </tr>
            <tr id="pnlBlogLink">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Blog_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Blog_OrderId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ForumLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ForumLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.ForumLink.hint")</em>
                </td>
            </tr>
            <tr id="pnlForumLink">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Forum_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Forum_OrderId)
                </td>
            </tr>
        </table>

}

    @helper TabProduct()
    {

        <table class="adminTablen4">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Categories):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Categories)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.Categories.hint")</em>
                </td>
            </tr>
            <tr id="pnlCategoriesWide">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.CategoriesWide):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CategoriesWide)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.CategoriesWide.hint")</em>
                </td>
            </tr>
            <tr id="pnlCategories">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Categories_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Categories_OrderId)
                </td>
            </tr>

            <tr id="pnlCategoriesPicture">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Categories_withPicture):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Categories_withPicture)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.Categories_withPicture.hint")</em>
                </td>
            </tr>

            <tr id="pnlCategoriesPictureSize">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Categories_PictureSize):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Categories_PictureSize)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.Categories_PictureSize.hint")</em>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.Manufacturers):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Manufacturers)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.Manufacturers.hint")</em>
                </td>
            </tr>
            <tr id="pnlManufacturers">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Manufacturers_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Manufacturers_OrderId)
                </td>
            </tr>
            <tr id="pnlManufacturersPicture">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Manufacturers_withPicture):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Manufacturers_withPicture)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.Manufacturers_withPicture.hint")</em>
                </td>
            </tr>
            <tr id="pnlManufacturersPictureSize">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Manufacturers_PictureSize):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Manufacturers_PictureSize)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.Manufacturers_PictureSize.hint")</em>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.NewProductsLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.NewProductsLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.NewProductsLink.hint")</em>
                </td>
            </tr>
            <tr id="pnlNewProducts">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.NewProducts_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.NewProducts_OrderId)
                </td>
            </tr>
        </table>
}

    @helper TabTopic()
    {
        <table class="adminTablen4">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.TopicLink1):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink1)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink1.hint")</em>
                </td>
            </tr>
            <tr id="pnlTopicLink1SystemName">
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink1_SystemName):
                </td>
                <td class="adminData">
                    @*@Html.EditorFor(model => model.TopicLink1_SystemName)*@
                    @Html.DropDownListFor(model => model.TopicLink1_SystemName, Model.Topics)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink1_SystemName.hint")</em>
                </td>
            </tr>
            <tr id="pnlTopicLink1OrderId" >
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink1_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink1_OrderId)
                </td>
            </tr>
            <tr id="pnlTopicLink1ContentLink" >
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink1ContentLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink1ContentLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink1ContentLink.hint")</em>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.TopicLink2):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink2)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink2.hint")</em>
                </td>
            </tr>
            <tr id="pnlTopicLink2SystemName" >
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink2_SystemName):
                </td>
                <td class="adminData">
                    @*@Html.EditorFor(model => model.TopicLink2_SystemName)*@
                    @Html.DropDownListFor(model => model.TopicLink2_SystemName, Model.Topics)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink2_SystemName.hint")</em>
                </td>
            </tr>
            <tr id="pnlTopicLink2OrderId">
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink2_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink2_OrderId)
                </td>
            </tr>
            <tr id="pnlTopicLink2ContentLink">
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink2ContentLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink2ContentLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink2ContentLink.hint")</em>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.TopicLink3):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink3)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink3.hint")</em>
                </td>
            </tr>
            <tr id="pnlTopicLink3SystemName">
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink3_SystemName):
                </td>
                <td class="adminData">
                    @*@Html.EditorFor(model => model.TopicLink3_SystemName)*@
                    @Html.DropDownListFor(model => model.TopicLink3_SystemName, Model.Topics)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink3_SystemName.hint")</em>
                </td>
            </tr>
            <tr id="pnlTopicLink3OrderId">
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink3_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink3_OrderId)
                </td>
            </tr>
            <tr id="pnlTopicLink3ContentLink">
                <td class="adminTitle" style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.TopicLink3ContentLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.TopicLink3ContentLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.TopicLink3ContentLink.hint")</em>
                </td>
            </tr>

        </table>
}

    @helper TabOther()
    {
        <table class="adminTablen4">
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SearchLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SearchLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.SearchLink.hint")</em>
                </td>
            </tr>
            <tr id="pnlSearchLink">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.Search_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Search_OrderId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ContactUsLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ContactUsLink)
                    <br /><em>@T("Plugins.Widgets.QuickMenu.ContactUsLink.hint")</em>
                </td>
            </tr>
            <tr id="pnlContactUsLink">
                <td class="adminTitle"  style="padding-left: 15px;">
                    @Html.NopLabelFor(model => model.ContactUs_OrderId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ContactUs_OrderId)
                </td>
            </tr>
            
        </table>
}
    <table>
        <tr>
            <td colspan="2" width="100%" align="left">
                <input type="submit" name="submitButton" class="k-button" value="Save" />
            </td>
        </tr>

    </table>

}
