@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = T("Admin.Ticket.Priority").Text; 
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        @T("Admin.Ticket.Priority")
    </div>
</div>
@Html.AntiForgeryToken()
<div id="priority-grid"></div>

<script>
                $(document).ready(function () {
                    $("#priority-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("PriorityList", "TicketPriority", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.Tickets.Controllers" }, { "area", "" } }))",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json"
                                },
                                create: {
                                    url: "@Html.Raw(Url.Action("PriorityInsert", "TicketPriority", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.Tickets.Controllers" }, { "area", "" } }))",
                                    type: "POST",
                                    dataType: "json"
                                },
                                update: {
                                    url:"@Html.Raw(Url.Action("PriorityUpdate", "TicketPriority", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.Tickets.Controllers" }, { "area", "" } }))",
                                    type: "POST",
                                    dataType: "json"
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("PriorityDelete", "TicketPriority", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.Tickets.Controllers" }, { "area", "" } }))",
                                    type: "POST",
                                    dataType: "json"
                                },
                                parameterMap: function(data, operation) {
                                    if (operation != "read") {
                                        return data;
                                    } else {
                                        //for some reasons only such "Filter" data be parsed
                                        return JSON.stringify(data);
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Name: { editable: true, type: "string" },
                                        Id: { editable: false, type: "number" },
                                        OrderById: { editable: true, type: "number" }
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                if (e.type == "create" || e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },

                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false
                        },
                        pageable: {
                            refresh: true
                        },
                        sortable: false,
                        toolbar: ["create"],
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },

                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "@T("Admin.Tickets.Fields.Priority.Name")",
                            width: 300,
                        },{
                            field: "OrderById",
                            title: "@T("admin.contentmanagement.polls.fields.displayorder")",
                            width: 30,

                        }, {
                            command: [{
                                name: "edit",
                                text: "@T("Admin.Common.Edit")"
                            }, {
                                name: "destroy",
                                text: "@T("Admin.Common.Delete")"
                            }],
                            width: 200,
                            filterable: false
                        }]
                    });
                });
</script>

