@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page-header page-header-custom">
    <h3 class="text-center">@T("Account.PasswordRecovery")</h3>
</div>
<div class="page-body">
    @if (!String.IsNullOrEmpty(Model.Result))
    {
        <div class="alert alert-success marginBottom30" role="alert">
            @Model.Result
        </div>
    }
    @using (Html.BeginForm())
    {
        <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label" }, ":")
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                   <small class="text-danger">@Html.ValidationMessageFor(model => model.Email)</small> 
                </div>
                <div class="col-sm-1">
                    @Html.RequiredHint()
                </div>
            </div>
        </div>
        <div class="form-group col-sm-offset-2 col-sm-4 text-right">
            <input type="submit" name="send-email" class="btn btn-primary" value="@T("Account.PasswordRecovery.RecoverButton")" />
        </div>
    }
</div>
