@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<div class="page-header page-header-custom">
    <h3 class="text-center">@T("Account.PasswordRecovery")</h3>
</div>
<div class="page-body">
    @if (!String.IsNullOrEmpty(Model.Result))
    {
        <div class="alert alert-success marginBottom30" role="alert">
            @Model.Result
        </div>
    }
    @if (!Model.DisablePasswordChanging)
    {
        using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-2 control-label" }, ":")
                    <div class="col-sm-4">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                        <small class="text-danger">@Html.ValidationMessageFor(model => model.NewPassword)</small>
                    </div>
                    <div class="col-sm-1">
                        @Html.RequiredHint()
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-sm-2 control-label" }, ":")
                    <div class="col-sm-4">
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                    <div class="col-sm-1">
                        @Html.RequiredHint()
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-offset-2 col-sm-4 text-right">
                <input type="submit" name="send-email" class="btn btn-primary" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
            </div>
        }
    }
</div>
