@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using Nop.Web.Models.Catalog;
<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.adv)").click(toggleAdvancedSearch);

        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {

        if ($('#@Html.FieldIdFor(model => model.adv)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>
<div class="page-header page-header-custom">
    <h3>@T("Search")</h3>
</div>
<div class="page-body">
    <div class="search-input">
        @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
            {
            <div class="form-horizontal">
                <div class="basic-search">
                    <div class="form-group">
                        @Html.LabelFor(model => model.q, new { @class = "col-sm-2 control-label" }, ":")
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.q, new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.Widget("productsearch_page_basic")
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.adv) @T("Search.AdvancedSearch")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advanced-search" id="advanced-search-block">
                    @if (Model.AvailableCategories.Count > 0)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.cid, new { @class = "col-sm-2 control-label" }, ":")
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.cid, Model.AvailableCategories, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.isc) @T("Search.IncludeSubCategories")
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.AvailableManufacturers.Count > 0)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.mid, new { @class = "col-sm-2 control-label" }, ":")
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.mid, Model.AvailableManufacturers, new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            <label>@T("Search.PriceRange"):</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-inline">
                                <div class="">
                                    @T("Search.PriceRange.From")
                                    @Html.TextBoxFor(model => model.pf, new { @class = "form-control maxWidth100" })
                                    @T("Search.PriceRange.To")
                                    @Html.TextBoxFor(model => model.pt, new { @class = "form-control maxWidth100" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.sid) @T("Search.SearchInDescriptions")
                                </label>
                            </div>
                        </div>
                    </div>
                    @Html.Widget("productsearch_page_advanced")
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4 text-right">
                        <input type="submit" class="btn btn-primary" value="@T("Search")" />
                    </div>
                </div>
            </div>

        }
    </div>
    @if (Model.Products.Count > 0)
    {
        @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
    }
    @Html.Widget("productsearch_page_before_results")
    <div class="search-results">
        @if (!String.IsNullOrEmpty(Model.Warning))
            {
            <div class="warning">
                @Model.Warning
            </div>
        }
        @if (Model.NoResults)
            {
            <div class="no-result">
                @T("Search.NoResultsText")
            </div>
        }

        @if (Model.Products.Count > 0)
            {
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    if (Model.PagingFilteringContext.ViewMode == "list")
                    {
                        <div class="col-xs-12">
                            @Html.Partial("_ProductBoxList", product)
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            @Html.Partial("_ProductBox", product)
                        </div>
                    }
                }
            </div>
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("adv").BooleanParameterName("isc").BooleanParameterName("sid").RenderEmptyParameters(true);
        }
        @if (!pager.IsEmpty())
            {
            <div class="pager">
                @pager
            </div>
        }
    </div>
    @Html.Widget("productsearch_page_after_results")
</div>
