@model HeaderLinksModel
@using Nop.Web.Models.Common;


<div class="collapse navbar-collapse" id="top-header">
    <ul class="nav navbar-nav navbar-right header-links">
        @Html.Widget("header_links_before")
        @Html.Widget("header_links_after")
        @Html.Action("TaxTypeSelector", "Common")
        @Html.Action("CurrencySelector", "Common")
        @Html.Action("LanguageSelector", "Common")
        @Html.Widget("header_selectors")
        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")">@Model.CustomerEmailUsername</a></li>
                    <li><a href="@Url.RouteUrl("Logout")">@T("Account.Logout")</a></li>
        }
        else
        {
            <li><a href="@Url.RouteUrl("Register")">@T("Account.Register")</a></li>
                    <li><a href="@Url.RouteUrl("Login")">@T("Account.Login")</a></li>
        }
        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })">
                    <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }
        @if (Model.WishlistEnabled)
        {
            <li>
                <a href="@Url.RouteUrl("Wishlist")">
                    <span class="wishlist-label">@T("Wishlist")</span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink" class="dropdown ">
                <a href="@Url.RouteUrl("ShoppingCart")" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="cart-label">@T("ShoppingCart")</span>
                    <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
                <ul class="dropdown-menu" style="display: none;">
                    <li>
                        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                    </li>
                </ul>
            </li>
        }       
    </ul>
   
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script type="text/javascript">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
</div>


