@model ConfigurationModel

@using Nop.Plugin.Widgets.Tickets.Models;


@{
    
    Layout = ViewBag.ConfigurePage ? "" : "~/Administration/Views/Shared/_AdminLayout.cshtml";
    
    //page title
    ViewBag.Title = T("Admin.Ticket.Configuration").Text;
    
}
<script type="text/javascript">
    $(document).ready(function () {
        toggleChangeFullName();
        $("#@Html.FieldIdFor(model => model.ShowFullName)").click(toggleChangeFullName);

        toggleChangeSubject();
        $("#@Html.FieldIdFor(model => model.ShowSubject)").click(toggleChangeSubject);

        toggleChangeEnquiry();
        $("#@Html.FieldIdFor(model => model.ShowEnquiry)").click(toggleChangeEnquiry);
    });

    function toggleChangeFullName() {
        if ($('#@Html.FieldIdFor(model => model.ShowFullName)').is(':checked')) {
            $('#pnlFullName').show();
        }
        else {
            $('#pnlFullName').hide();
        }
    }

    function toggleChangeSubject() {
        if ($('#@Html.FieldIdFor(model => model.ShowSubject)').is(':checked')) {
            $('#pnlSubject').show();
        }
        else {
            $('#pnlSubject').hide();
        }
    }

    function toggleChangeEnquiry() {
        if ($('#@Html.FieldIdFor(model => model.ShowEnquiry)').is(':checked')) {
            $('#pnlEnquiry').show();
        }
        else {
            $('#pnlEnquiry').hide();
        }
    }


</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Ticket.Configuration")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    <div id="generalsettings-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Plugin.Tickets.Configuration.General")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Plugin.Tickets.Configuration.Notification")
            </li>
        </ul>

            <div>
                @TabGeneral()
            </div>
            <div>
                @TabNotyfication()
            </div>
</div>
    <script>
    $(document).ready(function() {
        $("#generalsettings-edit").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

    {
        //custom tabs
        var eventMessage = new Nop.Web.Framework.Events.AdminTabStripCreated(this.Html, "generalsettings-edit");
        Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Events.IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }


    
    
    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
  
}
@helper TabGeneral()
{
        <table>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.DefaultDepartmentId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.DefaultDepartmentId, Model.AvailableDepartments)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.DefaultPriorityId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.DefaultPriorityId, Model.AvailablePriority)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.DefaultStaffId):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.DefaultStaffId, Model.AvailableStaff)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.WidgetZone):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.WidgetZone, Model.AvailableWidgetZone)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AccessToTickets):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.AccessToTickets, Model.AvailableRoles)
                </td>
            </tr>
            <tr class="adminSeparator">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AddAttachmentToSendingEmail):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.AddAttachmentToSendingEmail)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AllowAttachmentInNewTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.AllowAttachmentInNewTicket)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AllowAttachmentInResponseTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.AllowAttachmentInResponseTicket)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.CustomerCanSelectPriority):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CustomerCanSelectPriority)
                </td>
            </tr>
            <tr class="adminSeparator">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.GenerateContactForm):
                    <br />
                    <em>@T("Ticket.Admin.MessageChangeOptionGenerateContactForm").Text</em>
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.GenerateContactForm)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.CreateTicketFromContactForm):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreateTicketFromContactForm)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ShowEnquiry):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ShowEnquiry)
                </td>
            </tr>

            <tr id="pnlEnquiry">
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.EnquiryRequired):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.EnquiryRequired)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ShowSubject):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ShowSubject)
                </td>
            </tr>

            <tr id="pnlSubject">
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SubjectRequired):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SubjectRequired)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ShowFullName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ShowFullName)
                </td>
            </tr>

            <tr id="pnlFullName">
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.FullNameRequired):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FullNameRequired)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.CaptchaContactForm):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CaptchaContactForm)
                </td>
            </tr>
            <tr class="adminSeparator">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.CreateTicketFromOrder):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreateTicketFromOrder)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.CreateNoteOnOrder):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreateNoteOnOrder)
                </td>
            </tr>

            @*
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CaptchaOrderForm):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CaptchaOrderForm)
        </td>
    </tr>
*@
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.WidgetZone_Order):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.WidgetZone_Order, Model.AvailableWidgetZone_Order)
                </td>
            </tr>
            <tr class="adminSeparator">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.CreateTicketFromProduct):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.CreateTicketFromProduct)
                </td>
            </tr>
           @*
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CaptchaProductForm):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CaptchaProductForm)
        </td>
    </tr>
*@
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.WidgetZone_Product):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.WidgetZone_Product, Model.AvailableWidgetZone_Product)
                </td>
            </tr>



</table>
}    
@helper TabNotyfication()
{
        <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ChangeStatusTicket_DisplayToCustomer):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ChangeStatusTicket_DisplayToCustomer)
                @Html.ValidationMessageFor(model => model.ChangeStatusTicket_DisplayToCustomer)
            </td>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ChangeDepartmentTicket_DisplayToCustomer):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ChangeDepartmentTicket_DisplayToCustomer)
                @Html.ValidationMessageFor(model => model.ChangeDepartmentTicket_DisplayToCustomer)
            </td>

        </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ChangePriorityTicket_DisplayToCustomer):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ChangePriorityTicket_DisplayToCustomer)
                    @Html.ValidationMessageFor(model => model.ChangePriorityTicket_DisplayToCustomer)
                </td>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ChangeStaffTicket_DisplayToCustomer):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ChangeStaffTicket_DisplayToCustomer)
                    @Html.ValidationMessageFor(model => model.ChangeStaffTicket_DisplayToCustomer)
                </td>

            </tr>
            <tr class="adminSeparator">
                <td colspan="4">
                    <hr />
                </td>
            </tr>       
            
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Admin_ChangeDepartmentTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Admin_ChangeDepartmentTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Admin_ChangeDepartmentTicket)
                </td>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Customer_ChangeDepartmentTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Customer_ChangeDepartmentTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Customer_ChangeDepartmentTicket)
                </td>

            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Admin_ChangePriorityTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Admin_ChangePriorityTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Admin_ChangePriorityTicket)
                </td>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Customer_ChangePriorityTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Customer_ChangePriorityTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Customer_ChangePriorityTicket)
                </td>

            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Admin_ChangeStatusTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Admin_ChangeStatusTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Admin_ChangeStatusTicket)
                </td>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Customer_ChangeStatusTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Customer_ChangeStatusTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Customer_ChangeStatusTicket)
                </td>

            </tr>

            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Admin_ChangeStaffTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Admin_ChangeStaffTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Admin_ChangeStaffTicket)
                </td>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Customer_ChangeStaffTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Customer_ChangeStaffTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Customer_ChangeStaffTicket)
                </td>
            </tr>
            <tr class="adminSeparator">
                <td colspan="4">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Admin_CreateTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Admin_CreateTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Admin_CreateTicket)
                </td>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Customer_CreateTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Customer_CreateTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Customer_CreateTicket)
                </td>
            </tr>
            
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Admin_ResponseTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Admin_ResponseTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Admin_ResponseTicket)
                </td>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SendEmail_Customer_ResponseTicket):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SendEmail_Customer_ResponseTicket)
                    @Html.ValidationMessageFor(model => model.SendEmail_Customer_ResponseTicket)
                </td>
            </tr>
             
    </table>

}

    
