@model Nop.Plugin.Dreamy.Forms.Models.FormModel
@using Nop.Web.Framework
@{
    //page title
    ViewBag.Title = T("Plugins.Dreamy.Forms.EditFormDetails").Text;
    Layout = "_AdminLayout.cshtml";
}
@using (Html.BeginForm("Edit", "Forms", null, FormMethod.Post, new { onsubmit = "return kendovalidate()" }))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Plugins.Dreamy.Forms.EditFormDetails") - @Model.FormName @Html.ActionLink("(" + T("Plugins.Dreamy.Forms.BackToList") + ")", "Manage")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="form-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("form-delete")