@model PrivateMessageModel
@using Nop.Web.Models.PrivateMessages;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("PageTitle.ViewPM").Text);
}
<div class="page private-messages private-message-view-page">
    <div class="page-header page-header-custom">
        <h3 class="text-center">@T("PrivateMessages.View.ViewMessage")</h3>
    </div>
    <div class="page-body row">
        <div class="col-sm-offset-2 col-sm-8">
            <ul class="list-unstyled">
                <li class="sender">
                    <label>@T("PrivateMessages.View.From")</label>
                    <span>@Model.CustomerFromName</span>
                </li>
                <li class="recipient">
                    <label>@T("PrivateMessages.View.To")</label>
                    <span>@Model.CustomerToName</span>
                </li>
                <li class="subject">
                    <label>@T("PrivateMessages.View.Subject")</label>
                    <span>@Model.Subject</span>
                </li>
            </ul>
            <div class="borderAll padding20 minHeight150">
                @Html.Raw(Model.Message)
            </div>
            <div class="text-center marginTop20">
                <input type="button" class="btn btn-primary" value="@T("PrivateMessages.View.ReplyButton")" onclick="setLocation('@Url.RouteUrl("SendPMReply", new { toCustomerId = Model.FromCustomerId, replyToMessageId = Model.Id })')" />
                <input type="button" class="btn btn-default" value="@T("PrivateMessages.View.DeleteButton")" onclick="setLocation('@Url.RouteUrl("DeletePM", new { privateMessageId = Model.Id })')" />
                <input type="button" class="btn btn-default" value="@T("PrivateMessages.View.BackButton")" onclick="setLocation('@Url.RouteUrl("PrivateMessages")')" />
            </div>
        </div>
    </div>
</div>
