@model ProductDetailsModel.GiftCardModel
@using Nop.Web.Models.Catalog;
@if (Model.IsGiftCard)
{
    <div class="form marginTop10">
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.RecipientName, new { }, ":")
            @Html.TextBoxFor(model => model.RecipientName, new { @class = "form-control maxWidth300" })
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.RecipientEmail, new { }, ":")
                @Html.TextBoxFor(model => model.RecipientEmail, new { @class = "form-control maxWidth300" })
            </div>
        }
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.SenderName, new { }, ":")
            @Html.TextBoxFor(model => model.SenderName, new { @class = "form-control maxWidth300" })
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.SenderEmail, new { }, ":")
                @Html.TextBoxFor(model => model.SenderEmail, new { @class = "form-control maxWidth300" })
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { }, ":")
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control maxWidth300", rows = "5"})
        </div>
    </div>
}